<a href="https://colab.research.google.com/github/Nikulkumar-Dabhi/Data_Science/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print #Hello World

In [ ]:
print("Hello, world!")

Hello, world!

Variables and Data Types

In [ ]:
name = "Alice"  # String
age = 30       # Integer
height = 5.8    # Float
is_student = True # Boolean

print(name, age, height, is_student)

Alice 30 5.8 True

Basic Arithmetic Operations

In [ ]:
a = 10
b = 5

sum = a + b
difference = a - b
product = a * b
quotient = a / b

print(sum, difference, product, quotient)

15 5 50 2.0

Conditional Statements

In [ ]:
age = 20

if age >= 21:
  print("You are an adult.")
else:
  print("You are a minor.")

You are a minor.

 Loops

In [ ]:
for i in range(5):
  for j in range(i+1):
    print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3
4 4

Functions

In [ ]:
def greet(name):
  """This function greets the person passed in as a parameter."""
  print(f"Hello, {name}!")

greet("Alice")  # Calling the function

Hello, Alice!

In [18]:
# prompt: another fucntion to print number of * based on input

def print_stars(num_stars):
  """Prints a specified number of asterisks."""
  print("*" * num_stars)


# Get input from the user
num_stars = int(input("Enter the number of stars to print: "))

# Call the function to print the stars
print_stars(num_stars)

Enter the number of stars to print: 4
****

Lists: Ordered, mutable (changeable) collections of items.

In [25]:
my_list = [1, 2, 3, "apple", "banana"]
print(my_list[2])  # Accessing elements by index
my_list.append("orange")  # Adding an element
print(my_list[-1])

3
orange

Tuples: Ordered, immutable (unchangeable) collections of items.

In [27]:
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple[1])  # Accessing elements by index

2

Dictionaries: Collections of key-value pairs.

In [30]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict["name"])  # Accessing values by key
my_dict["occupation"] = "Engineer"  # Adding a new key-value pair
print(my_dict["occupation"])

Alice
Engineer