<a href="https://colab.research.google.com/github/Nikulkumar-Dabhi/Data_Science/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/databases/adventure-works/oltp-install-script/Employee.csv -O Employee.csv

--2025-03-26 00:09:25--  https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/databases/adventure-works/oltp-install-script/Employee.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 96028 (94K) [text/plain]
Saving to: ‘Employee.csv’

Employee.csv        100%[===================>]  93.78K  --.-KB/s    in 0.02s

2025-03-26 00:09:25 (3.78 MB/s) - ‘Employee.csv’ saved [96028/96028]

#installing needed libraries

In [4]:
!pip install pandasql
import pandas as pd
import pandasql as ps

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.39)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=417e6fc17fbf46ec398388b0f33a712450aac37b708c0475e2ed7e6394c73702
  Stored in directory: /root/.cache/pip/wheels/68/5d/a5/edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [6]:
df = pd.read_csv('Employee.csv', encoding='utf-16')

In [7]:
query = "SELECT * FROM df LIMIT 10;"
result = ps.sqldf(query, locals())
print(result)

  1\t295847284\tadventure-works\ken0\t\t0\tChief Executive Officer\t1969-01-29\tS\tM\t2009-01-14\t1\t99\t69\t1\tF01251E5-96A3-448D-981E-0F99D789110D\t2014-06-30 00:00:00
0  2\t245797967\tadventure-works\terri0\t58\t1\tV...
1  3\t509647174\tadventure-works\roberto0\t5AC0\t...
2  4\t112457891\tadventure-works\rob0\t5AD6\t3\tS...
3  5\t695256908\tadventure-works\gail0\t5ADA\t3\t...
4  6\t998320692\tadventure-works\jossef0\t5ADE\t3...
5  7\t134969118\tadventure-works\dylan0\t5AE1\t3\...
6  8\t811994146\tadventure-works\diane1\t5AE158\t...
7  9\t658797903\tadventure-works\gigi0\t5AE168\t4...
8  10\t879342154\tadventure-works\michael6\t5AE17...
9  11\t974026903\tadventure-works\ovidiu0\t5AE3\t...

In [14]:
query = "SELECT * FROM df LIMIT 10;"
result = ps.sqldf(query, locals())
print(result)

  1\t295847284\tadventure-works\ken0\t\t0\tChief Executive Officer\t1969-01-29\tS\tM\t2009-01-14\t1\t99\t69\t1\tF01251E5-96A3-448D-981E-0F99D789110D\t2014-06-30 00:00:00
0  2\t245797967\tadventure-works\terri0\t58\t1\tV...
1  3\t509647174\tadventure-works\roberto0\t5AC0\t...
2  4\t112457891\tadventure-works\rob0\t5AD6\t3\tS...
3  5\t695256908\tadventure-works\gail0\t5ADA\t3\t...
4  6\t998320692\tadventure-works\jossef0\t5ADE\t3...
5  7\t134969118\tadventure-works\dylan0\t5AE1\t3\...
6  8\t811994146\tadventure-works\diane1\t5AE158\t...
7  9\t658797903\tadventure-works\gigi0\t5AE168\t4...
8  10\t879342154\tadventure-works\michael6\t5AE17...
9  11\t974026903\tadventure-works\ovidiu0\t5AE3\t...

In [17]:
query = "SELECT Name, Age, Sex FROM df LIMIT 5;"